<%= turbo_stream_from(task) %>

<div class="card" id="<%= dom_id(task) %>">
  <div class="card-body">
    <div class="card-header">
      <%= task.title %>
    </div>
    <div class="card-body">
      <div class="card-text">

        <% #TODO: send this part to partial if possible %>

        <%= button_to(t('sprints.start'), project_task_sprints_path(task.project_id, task),
        method: :post, class: 'btn btn-primary align-middle') %>

        <ul class="mt-3 list-group" id="sprints">

          <% task.sprints.order(start: :desc).each do |sprint| %>


            <li class="list-group-item" id="<%= dom_id(sprint)%>">
              <% unless sprint.duration.nil? %>
                <%= distance_of_time_in_words(sprint.duration) %>
              <% end %>

              <div class="float-end">
              <%= l(sprint.start.in_time_zone(@user.timezone), format: :short) %>&nbsp;
              <% if sprint.end.nil? %>
                <%= button_to(t('sprints.stop'), project_task_sprint_path(task.project_id, task, sprint.id),
                method: :put, class: 'btn btn-secondary align-middle') %>
              <% else %>
                - &nbsp;
                <%= l(sprint.end.in_time_zone(@user.timezone), format: :short) %>
              <% end %>
              </div>
            </li>
          <% end%>
        </ul>

        <%= button_to(t('tasks.remove_btn'), project_task_path(task.project_id, task),
        method: :delete, class: 'btn btn-secondary align-middle float-end mt-3',
        data: { turbo_method: :delete, turbo_confirm: t('tasks.remove_btn_confirm') }) %>
      </div>
    </div>
  </div>
</div>
