<%= turbo_stream_from(task) %>

  <div class="accordion-item mt-3 border-top" id="<%= dom_id(task) %>">
    <h5 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= task.id %>_item" aria-expanded="true" aria-controls=""<%= task.id %>_item"">
        <b><%= task.title %></b>&nbsp;
        <%= render('time_spent', task: task) %>
      </button>
    </h5>
    
    <div id="<%= task.id %>_item" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <% #TODO: Hide button when sprint active %>
        <%= button_to(t('sprints.start'), project_task_sprints_path(task.project_id, task),
          method: :post, class: 'btn btn-primary align-middle') %>

          <ul class="mt-3 list-group" id="<%= dom_id(task) %>_sprints">

            <% task.sprints.order(start: :desc).each do |sprint| %>
              <% if sprint.end.nil? %>
                <%= render('sprints/new_sprint', sprint: sprint, user: @user, task: task) %>
              <% else %>
                <%= render('sprints/sprint', sprint: sprint, user: @user) %>
              <% end %>
            <% end %>
            
          </ul>

          <%= button_to(t('tasks.remove_btn'), project_task_path(task.project_id, task),
          method: :delete, class: 'btn btn-secondary align-middle mt-3',
          data: { turbo_method: :delete, turbo_confirm: t('tasks.remove_btn_confirm') }) %>
          
      </div>
    </div>
  </div>


