<%= render('bread') %>

<%= turbo_stream_from(dom_id(@current_project) + "_stats") %>
<%= render('projects/stats', project: @current_project) %>

<%= render('new_form') %>

<div class="accordion mt-3" id="<%= @stream_name %>">
<%= turbo_stream_from(@stream_name) %>
<% @tasks.each do |task| %>
  <%= render(task) %>
<% end%>
</div>