<%= render('new_form') %>

<div class="container bg-body-tertiary mt-5">
  <div class="row bg-dark-subtle"> 
    <div class="col">
      #
    </div>
    <div class="col">
      <%= t('projects.title') %>
    </div>
    <div class="col">
      <%= t('projects.desc') %>
    </div>
    <div class="col">
      <%= t('projects.salary') %>
    </div>
    <div class="col">
    </div>
  </div>

  <div id="projects">
  <%= turbo_stream_from("projects") %>
  <% @projects.each do |project| %>
    <%= render(project) %>
  <% end%>
  </div>

</div>

<% if @projects.empty? %>
  <% flash.now[:success] = t('flash.notice.projects.empty') %>
<% end %>
